/*
*{
    margin: 0;
    padding: 0;
}*/
/*the * means all
//this part of the code is called a reset

/*h1{
    color:green;
}*/
/*This is external CSS, where there is 
a linking of an external .css file*/

/*global style to links*/
a{
    text-decoration:none;
    color:#000;
}

a:hover{
    color:red;
}

a:active{
    color:green;
}
/*
a:visited{
    //color:yellow;
    color:#000;
}
*/

body{
    background-color: #887878;
    color:#302e2e;
    /*
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:normal;
    This changes each characteristic individually, 
    but there is faster way
    */

    font: normal, 16px, Arial, Helvetica, sans-serif;

    line-height: 1.6em;
    margin:0;
}

.container{
    /*width:500px;*/
    /*using px or a set value is not responsive, 
    but percentages are */
    width: 90%;
    margin:auto;
}

.box-1{
    background-color:#333;
    color:#fff;

    
    border-right: 5px red solid;
    /*its size, color, then type or style*/
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    /*but this too long, if they all same, can
    write them all the same*/
    
    

    border-width: 3px;/*this does all border*/
    border-bottom-width: 10px;
    border-top-style:dotted;

    border:5px red solid;
    /*this overrides everything, so the stuff 
    for border above doesn't even matter*/
    
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    /*this is long*/
    padding: 20px;
    /*this is same*/


    margin-top:20px;
    margin:20px 0;
    /*this adds the margin just to the top and bottom*/
}

.button{
    background-color:#333;
    color:#fff;
    padding:10px 15px;
    border:none;
}

.button:hover{
    background:red;
    color:#fff;
}

.clr{
    clear:both;
}

.box-1 h1{
    font-family: Tahoma;
    font-weight:800;
    font-style:italic;
    text-decoration:underline;
    text-transform:uppercase;
    letter-spacing:0.7em;
    word-spacing:1em;
}

.box-2{
   border:3px dotted #ccc;
   padding:20px;
   margin:20px 0; 
}

.categories{
    border:1px #ccc solid;
    padding:10px;
    border-radius:15px;
}

.categories h2{
    text-align:center;
}

.categories ul{
    padding:0;
    padding-left:20px;
    list-style:square;
    list-style:none;
}

.categories li{
    padding-bottom:6px;
    border-bottom:dotted 1px #333;
    list-style-image: url('../images/check.png');
}

.my-form{
    padding:20px;
}

.myform .form-group{
    padding-bottom:15px;
}

.my-form label{
    display:block;
}

.my-form input[type="text"], .myform textarea{
    padding:8px;
    width:100%;
}

/*
.my-form input[type="submit"]{
    background-color:#333;
    color:#fff;
    padding:10px 15px;
    border:none;
}

can do this, but can just make it global for all buttons
*/

.block{
    float:left;
    width:33.3%;
    border:1px solid #ccc;
    padding:10px;
    /*the lines of border and padding by
    themselves would mess up the page by adding the 33.3%
    with 10 extra pixels, so they don't fit on one line*/
     box-sizing:border-box;
}

#main-block{
    float:left;
    width:70%;
    padding:15px;
    box-sizing: border-box;
}

#sidebar{
    float:right;
    width:30%;
    background-color:#333;
    color:#fff;
    padding:15px;
    box-sizing: border-box;
}

.p-box{
    width:800px;
    height:500px;
    border:1px solid #000;
    margin-top:30px;
    position: relative;
    background-image: url('images/bgimage.jpg');
    background-repeat: no-repeat;
    background-position: 100px 200px;
    background-position: center top;
}

.p-box h1{
    position: absolute;
    top:100px;
    left:200px;
}

.p-box h2{
    position: absolute;
    bottom: 40px;
    right:100px;
}

.fix-me{
    position: fixed;
    top:400px;
}

.my-list li:first-child{
    background: red;
}

.my-list li:last-child{
    background: blue;
}

.my-list li:nth-child(5){
    background: yellow;
}

.my-list li:nth-child(even){
    background: green;
}